# Variables
CONFIG="$HOME/.config"

# Dotfiles Repo
alias dotfiles='$(which git) --git-dir=$HOME/.df --work-tree=$HOME'

# Main
case "$(uname)" in
    Linux)
        alias ls='ls --color'
        [ -x "$(command -v xsel)" ] && alias pbcopy='xsel --clipboard --input'
        [ -x "$(command -v xsel)" ] && alias pbpaste='xsel --clipboard --output'
    ;;
    Darwin)
        alias ls='ls -G'
        alias battery='pmset -g batt'
        alias dc='docker compose'
    ;;
esac

# Base
alias la='ls -A'
alias ll='ls -l'
alias lla='ls -lA'
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -v'
alias ln='ln -iv'

alias shred='shred -fvuzn 35'
alias whereami='echo $PWD'
alias off='sudo shutdown now'
alias reboot='sudo shutdown -r now'

[ -x "$(command -v batcat)" ] && alias bat='batcat'
[ -x "$(command -v python3)" ] && alias python='python3'

alias g='git'

alias notebook='sh $CONFIG/scripts/notebook.sh'

porttest() { curl portquiz.net:$1; }
cheat() { curl cht.sh/$1; }
ipaddress() { curl -4 ifconfig.co/$1; }

# Docker / Podman
[ -x "$(command -v podman)" ] && alias docker='podman'
[ -x "$(command -v podman)" ] && alias d='podman' || alias d='docker'
alias dps='d ps -a'
alias di='d images'
alias drm='d rm $(docker ps -aqf status=exited)'
alias drmi='d rmi -f'
alias drun='d run --rm'
alias dalias='alias | grep ^docker'
dbash() { d exec -it $1 bash; }
