# Variables
CONFIG="$HOME/.config"

# Dotfiles Repo
alias dotfiles='$(which git) --git-dir=$HOME/.df --work-tree=$HOME'

# Base
case "$(uname)" in
    Linux) alias ls='ls --color';;
    Darwin) alias ls='ls -G';;
esac
alias la='ls -A'
alias ll='ls -l'
alias lla='ls -lA'
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -v'
alias ln='ln -iv'

alias shred='shred -fvuzn 35'
alias whereami='echo $PWD'
alias off='sudo shutdown now'
alias reboot='sudo shutdown -r now'

# Git
alias g='git'

# Docker
[[ "$(uname)" == "Linux" ]] && alias docker='podman'
alias d='docker'
alias dps='docker ps -a'
alias dex='docker exec -it'
alias di='docker images'
alias drm='docker rm $(docker ps -aqf status=exited)'
alias drmi='docker rmi -f'
alias drun='docker run --rm'
alias druni='docker run --rm -it'
alias drund='docker run --rm -d'
alias dalias='alias | grep ^docker'
alias dc='docker compose'
dbash() { docker exec -it $1 bash; }

# Other
alias notebook='sh $CONFIG/scripts/notebook.sh'

porttest(){	curl portquiz.net:$1; }
cheat() { curl cht.sh/$1; }
ipaddress() { curl -4 ifconfig.co/$1; }
